In [1]:
"Hello"

'Hello'

In [3]:
"Hello Gunnu and Jinniee"

'Hello Gunnu and Jinniee'

In [5]:
"Hello Cutie, Welcome to WIT"

'Hello Cutie, Welcome to WIT'

In [7]:
print('Hello')

Hello

In [9]:
print('Wecome to AI')
print('I am HImanshi, Your Friend')

Wecome to AI
I am HImanshi, Your Friend

In [11]:
print('\n')
print('It gives a new line space.')

It gives a new line space.

In [13]:
len('Hello, Bitchesssss!')

19

In [15]:
Str = 'Hell Yeah!'

In [19]:
len(str)

10

In [25]:
Str[1:]

'ell Yeah!'

In [27]:
Str[:4]

'Hell'

In [29]:
Str[:]

'Hell Yeah!'

In [32]:
Str + 'heluuuuu, I am Honey'

'Hell Yeah!heluuuuu, I am Honey'

In [34]:
Str

'Hell Yeah!'

In [36]:
Str.upper()

'HELL YEAH!'

In [38]:
Str.lower()

'hell yeah!'

In [40]:
print('Enter your first name here {} then lastname here {}' .format('Honey','Jain'))

Enter your first name here Honey then lastname here Jain

In [44]:
print('The colours are {2} {1} {0}.' .format('red','brown','black'))

The colours are black brown red.

In [46]:
print('First object: {a}, Second object: {b}, Third object: {c}'.format(a=1,b='Two',c=30.2))

First object: 1, Second object: Two, Third object: 30.2

In [48]:
my_list = {1,2,3,4,5,6}
my_list

{1, 2, 3, 4, 5, 6}

In [50]:
my_list1 = ['Honeyyyy',3,10.2,'A',32,3]

In [52]:
my_list1

['Honeyyyy', 3, 10.2, 'A', 32, 3]

In [54]:
len(my_list1)

6

In [58]:
my_list1[0]

'Honeyyyy'

In [60]:
my_list1[0:]

['Honeyyyy', 3, 10.2, 'A', 32, 3]

In [62]:
my_list1[3:]

['A', 32, 3]

In [64]:
my_list1 + ['yesssoooo']

['Honeyyyy', 3, 10.2, 'A', 32, 3, 'yesssoooo']

In [66]:
my_list1 = my_list1 + ['new item']

In [68]:
my_list1

['Honeyyyy', 3, 10.2, 'A', 32, 3, 'new item']

In [70]:
my_list1

['Honeyyyy', 3, 10.2, 'A', 32, 3, 'new item']

In [72]:
my_list1.append('append')

In [74]:
my_list1

['Honeyyyy', 3, 10.2, 'A', 32, 3, 'new item', 'append']

In [76]:
new_list = [1,2,3,4,5,6]

In [78]:
new_list

[1, 2, 3, 4, 5, 6]

In [80]:
new_list.pop(0)

1

In [82]:
Dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [87]:
Dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [89]:
My_Dict = {'key1':123,'key2':[1,2,3],'key3':['Yes','No']}

In [91]:
My_Dict

{'key1': 123, 'key2': [1, 2, 3], 'key3': ['Yes', 'No']}

In [97]:
My_Dict

['key1']

In [99]:
My_Dict = {'key1':123,'key2':[1,2,3],'key3':['Yes','No']}

In [101]:
My_Dict

{'key1': 123, 'key2': [1, 2, 3], 'key3': ['Yes', 'No']}

In [105]:
My_Dict['key1'] = My_Dict['key1'] + 123

In [107]:
My_Dict

{'key1': 246, 'key2': [1, 2, 3], 'key3': ['Yes', 'No']}

In [109]:
tuple = (1,2,3,4,5,6,'Himsss','Jinie','Gunnu')
tuple

(1, 2, 3, 4, 5, 6, 'Himsss', 'Jinie', 'Gunnu')

In [111]:
len(tuple)

9

In [113]:
tuple[0]

1

In [115]:
tuple[-3]

'Himsss'

In [117]:
{1,2,3,4,5}

{1, 2, 3, 4, 5}

In [119]:
{0,1,2,3,3,3,4,4,5}

{0, 1, 2, 3, 4, 5}

In [121]:
type({1,2,3,4})

set

In [123]:
Set = set()

In [125]:
Set.add(1)

In [127]:
Set.add(2)

In [129]:
Set.add(3)

In [131]:
Set

{1, 2, 3}

In [133]:
Set.add(1)

In [135]:
Set

{1, 2, 3}

In [139]:
if True:
    print("Yea, Its True!")

Yea, Its True!

In [141]:
x = False

if x:
    print("Yea, Its True!")
else:
    print('I will be printed in case where {} is not True'.format('x'))

I will be printed in case where x is not True

In [143]:
loc = 'Andhra Pradesh'

if loc == 'Bangalore':
    print('Welcome to the Bangalore!')
elif loc == 'Andhra Pradesh':
    print('Welcome to the Andhra Pradesh!')
else:
    print('Where are you?')

Welcome to the Andhra Pradesh!

In [31]:
def calculate_electricity_bill(units):
    if units <= 200:
        bill = 0
    elif units <= 500:
        bill = (units - 200) * 8
    elif units <= 1000:
        bill = (300 * 8) + (units - 500) * 11
    else:
        bill = (300 * 8) + (500 * 11) + (units - 1000) * 14
    
    return bill

units = int(input("Enter the number of units consumed: "))
bill_amount = calculate_electricity_bill(units)

print(f"Total electricity bill for {units} units: Rs. {bill_amount}")

Enter the number of units consumed:  3550

Total electricity bill for 3550 units: Rs. 43600

In [27]:
def calculate_tax(salary, savings):
    deductible_savings = min(savings, 200000)
    taxable_salary = salary - deductible_savings

    if taxable_salary <= 1000000:
        return taxable_salary * 0.10
    elif taxable_salary <= 2200000:
        return 100000 + (taxable_salary - 1000000) * 0.20
    else:
        return 340000 + (taxable_salary - 2200000) * 0.30

# Eg:
salaries_savings = [(4500000, 150000), (6200000, 350000)]

for salary, savings in salaries_savings:
    tax = calculate_tax(salary, savings)
    print(f"For Salary: ₹{salary}, Savings: ₹{savings} -> Tax to be paid: ₹{tax:.2f}")

For Salary: ₹4500000, Savings: ₹150000 -> Tax to be paid: ₹985000.00
For Salary: ₹6200000, Savings: ₹350000 -> Tax to be paid: ₹1480000.00

In [29]:
def calculate_fd_interest(amount, years=1):
    first_limit = 10_00_000  
    second_limit = 15_00_000 
    remaining_limit = amount - (first_limit + second_limit)
    
    interest_first = first_limit * 0.10 * years  
    interest_second = second_limit * 0.15 * years 
    interest_remaining = remaining_limit * 0.18 * years  
    
    total_interest = interest_first + interest_second + interest_remaining
    
    return total_interest

# Total FD amount
fd_amount = 65_00_000
interest_earned = calculate_fd_interest(fd_amount, 1)  
print(f"Total interest earned in 1 year on ₹{fd_amount}: ₹{interest_earned}")

Total interest earned in 1 year on ₹6500000: ₹1045000.0

In [63]:
def fibonacci(n):
    fib_series = [0, 1]
    for i in range(2, n):
        next_term = fib_series[-1] + fib_series[-2]
        fib_series.append(next_term)
    return fib_series[:n]
num_terms = int(input("Enter the number of terms: "))

if num_terms <= 0:
    print("Please enter a positive integer.")
else:
    print("Fibonacci Series:", fibonacci(num_terms))

Enter the number of terms:  20

Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [53]:
num = int(input("Enter a number: "))
sum = 0
temp = num
n = len(str(num))  

while temp > 0:
    digit = temp % 10  
    sum += digit ** n
    temp //= 10  

if sum == num:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number:  5

5 is an Armstrong number.

In [51]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    print("* " * i)

Enter the number of rows:  5

    *
   * *
  * * *
 * * * *
* * * * *

In [49]:
rows = int(input("Enter the number of rows: "))
num = 1 
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    for k in range(1, i + 1):
        print(f"{num} ", end="")
        num += 1 
    print()

Enter the number of rows:  5

    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

In [55]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    print(f"{i} " * i)

Enter the number of rows:  5

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [57]:
rows = int(input("Enter the number of rows: "))
for i in range(rows, 0, -1):
    print(" " * (rows - i), end="")
    for k in range(i, 0, -1):
        print(f"{k} ", end="")
    print()

Enter the number of rows:  5

5 4 3 2 1
 4 3 2 1
  3 2 1
   2 1
    1

In [59]:
# Demonstrating Inheritance in Python
class Parent:
    def __init__(self, name):
        self.name = name
    def display(self):
        print(f"Parent Name: {self.name}")
class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)
        self.age = age
    def show(self):
        print(f"Child Name: {self.name}, Age: {self.age}")
child_obj = Child("Alice", 10)
child_obj.display() 
child_obj.show()

Parent Name: Alice
Child Name: Alice, Age: 10

In [65]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_n_primes(n):
    count = 0
    num = 2
    while count < n:
        if is_prime(num):
            print(num, end=" ")
            count += 1
        num += 1

n = int(input("Enter the number of prime numbers to print: "))
print_n_primes(n)

Enter the number of prime numbers to print:  7

2 3 5 7 11 13 17

In [87]:
def sort_list_descending(list):
    for i in range(len(list)):
        for j in range(i + 1, len(list)):
            if lst[i] < list[j]:
                lst[i], lst[j] = list[j], list[i]
    return list
list = [34, 12, 5, 66, 23, 89, 1]
print("Sorted list:", sort_list_descending(list))

Sorted list: [34, 12, 5, 66, 23, 89, 1]

In [85]:
def sort_list_ascending(list):
    for i in range(len(list)):
        for j in range(i + 1, len(list)):
            if list[i] > list[j]:
                list[i], list[j] = list[j], list[i]
    return list
list = [34, 12, 5, 66, 23, 89, 1]
print("Sorted list:", sort_list_ascending(lst))

Sorted list: [23, 89, 89, 89, 89, 89, 89]

In [89]:
for n in range(10):
    for i in range(10):
        print(i, end=" ")
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [91]:
for n in range(11):
    for i in range(n):
        print(i, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [93]:
for n in reversed(range(10)):
    for s in reversed(range(10)):
        print(" ", end="")
    for i in range(n+1):
        print(i, end=" ")
    print()

          0 1 2 3 4 5 6 7 8 9
          0 1 2 3 4 5 6 7 8
          0 1 2 3 4 5 6 7
          0 1 2 3 4 5 6
          0 1 2 3 4 5
          0 1 2 3 4
          0 1 2 3
          0 1 2
          0 1
          0

In [97]:
# Option 1 - not so good
for row in range(0, 10):
    for column in range(0, 10):
        a = str(row*column).center(2)
        print(a, end=" ")
    print()

0  0  0  0  0  0  0  0  0  0
0  1  2  3  4  5  6  7  8  9
0  2  4  6  8  10 12 14 16 18
0  3  6  9  12 15 18 21 24 27
0  4  8  12 16 20 24 28 32 36
0  5  10 15 20 25 30 35 40 45
0  6  12 18 24 30 36 42 48 54
0  7  14 21 28 35 42 49 56 63
0  8  16 24 32 40 48 56 64 72
0  9  18 27 36 45 54 63 72 81

In [99]:
for row in range(1, 10):
    for space in range(9, row, -1):
        print(" ",end=" ")
    for num in range(1, row):
        print(num, end=" ")
    for num2 in range(row, 0, -1):
        print(num2, end=" ")
    print()

                1
              1 2 1
            1 2 3 2 1
          1 2 3 4 3 2 1
        1 2 3 4 5 4 3 2 1
      1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 6 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

In [101]:
for row in range(1, 10):
    for space in range(9, row, -1):
        print(" ",end=" ")
    for num in range(1, row):
        print(num, end=" ")
    for num2 in range(row, 0, -1):
        print(num2, end=" ")
    print()

for row in range(1, 9):
    for space in range(0, row):
        print(" ",end=" ")
    for num in range(1, 10-row):
        print(num, end=" ")
    print()

                1
              1 2 1
            1 2 3 2 1
          1 2 3 4 3 2 1
        1 2 3 4 5 4 3 2 1
      1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 6 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8
    1 2 3 4 5 6 7
      1 2 3 4 5 6
        1 2 3 4 5
          1 2 3 4
            1 2 3
              1 2
                1

In [103]:
sentence = input("Enter a sentence: ")
print("Input Sentence:", sentence)

# Reverse the sentence
def reverse_sentence(sentence):
    return sentence[::-1]

# Get indexes of even letters
def even_letter_indexes(sentence):
    return [i for i in range(len(sentence)) if i % 2 == 0]

# Get indexes of odd letters
def odd_letter_indexes(sentence):
    return [i for i in range(len(sentence)) if i % 2 != 0]

# Split sentence into words
def split_words(sentence):
    return sentence.split()

# Find vowels in the sentence
def find_vowels(sentence):
    return [ch for ch in sentence if ch.lower() in 'aeiou']

# Count repeating characters
def count_repeating_characters(sentence):
    return {ch: sentence.count(ch) for ch in set(sentence) if sentence.count(ch) > 1}

print("Reversed Sentence:", reverse_sentence(sentence))
print("Indexes of Even Letters:", even_letter_indexes(sentence))
print("Indexes of Odd Letters:", odd_letter_indexes(sentence))
print("Words in Sentence:", split_words(sentence))
print("Vowels in Sentence:", find_vowels(sentence))
print("Repeating Characters Count:", count_repeating_characters(sentence))

Enter a sentence:  Walchand Institute of Technology, Solapur, Maharashtra

Input Sentence: Walchand Institute of Technology, Solapur, Maharashtra
Reversed Sentence: arthsarahaM ,rupaloS ,ygolonhceT fo etutitsnI dnahclaW
Indexes of Even Letters: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52]
Indexes of Odd Letters: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53]
Words in Sentence: ['Walchand', 'Institute', 'of', 'Technology,', 'Solapur,', 'Maharashtra']
Vowels in Sentence: ['a', 'a', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']
Repeating Characters Count: {' ': 5, 'u': 2, 'e': 2, 'h': 4, 'l': 3, 't': 4, 'r': 3, 'a': 7, 's': 2, 'c': 2, ',': 2, 'n': 3, 'o': 4}

In [117]:
sentence = input("Enter a sentence: ")
print("Input Sentence:", sentence)

# Reverse the sentence
def reverse_sentence(sentence):
    reversed_str = ""
    for ch in sentence[::-1]:
        reversed_str += ch
    return reversed_str

# Get indexes of even letters
def even_letter_indexes(sentence):
    even_indexes = []
    for i in range(len(sentence)):
        if i % 2 == 0:
            even_indexes.append(i)
    return even_indexes

# Get indexes of odd letters
def odd_letter_indexes(sentence):
    odd_indexes = []
    for i in range(len(sentence)):
        if i % 2 != 0:
            odd_indexes.append(i)
    return odd_indexes

# Split sentence into words 
def split_words(sentence):
    words = []
    word = ""
    for ch in sentence:
        if ch == " ":
            if word:
                words.append(word)
                word = ""
        else:
            word += ch
    if word:
        words.append(word)
    return words

# Find vowels
def find_vowels(sentence):
    vowels = []
    for ch in sentence:
        if ch.lower() in 'aeiou':
            vowels.append(ch)
    return vowels

# Count repeating characters
def count_repeating_characters(sentence):
    char_count = {}
    for ch in sentence: 
        if ch in char_count:
            char_count[ch] += 1
        else:
            char_count[ch] = 1
    repeating_chars = {ch: count for ch, count in char_count.items() if count > 1}
    return repeating_chars

print("Reversed Sentence:", reverse_sentence(sentence))
print("Indexes of Even Letters:", even_letter_indexes(sentence))
print("Indexes of Odd Letters:", odd_letter_indexes(sentence))
print("Words in Sentence:", split_words(sentence))
print("Vowels in Sentence:", find_vowels(sentence))
print("Repeating Characters Count:", count_repeating_characters(sentence))

Enter a sentence:  Walchand Institute of Technology, Solapur, Maharashtra

Input Sentence: Walchand Institute of Technology, Solapur, Maharashtra
Reversed Sentence: arthsarahaM ,rupaloS ,ygolonhceT fo etutitsnI dnahclaW
Indexes of Even Letters: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52]
Indexes of Odd Letters: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53]
Words in Sentence: ['Walchand', 'Institute', 'of', 'Technology,', 'Solapur,', 'Maharashtra']
Vowels in Sentence: ['a', 'a', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']
Repeating Characters Count: {'a': 7, 'l': 3, 'c': 2, 'h': 4, 'n': 3, ' ': 5, 's': 2, 't': 4, 'u': 2, 'e': 2, 'o': 4, ',': 2, 'r': 3}

In [115]:
sentence = input("Enter a sentence: ")
print("Input Sentence:", sentence)

# Replace 'a' with '*'
def replace_a_with_star(sentence):
    modified_sentence = ""
    for ch in sentence:
        if ch.lower() == 'a':
            modified_sentence += '*'
        else:
            modified_sentence += ch
    return modified_sentence
print("Modified Sentence:", replace_a_with_star(sentence))

Enter a sentence:  Walchand Institute of Technology, Solapur, Maharashtra

Input Sentence: Walchand Institute of Technology, Solapur, Maharashtra
Modified Sentence: W*lch*nd Institute of Technology, Sol*pur, M*h*r*shtr*

In [1]:
sentence = input("Enter a sentence: ")
print("Input Sentence:", sentence)

# Reverse the sentence
def reverse_sentence(sentence):
    reversed_str = ""
    for ch in sentence[::-1]:
        reversed_str += ch
    return reversed_str

# Get indexes of even letters
def even_letter_indexes(sentence):
    even_indexes = []
    for i in range(len(sentence)):
        if i % 2 == 0:
            even_indexes.append(i)
    return even_indexes

# Get indexes of odd letters
def odd_letter_indexes(sentence):
    odd_indexes = []
    for i in range(len(sentence)):
        if i % 2 != 0:
            odd_indexes.append(i)
    return odd_indexes

# Split sentence into words 
def split_words(sentence):
    words = []
    word = ""
    for ch in sentence:
        if ch == " ":
            if word:
                words.append(word)
                word = ""
        else:
            word += ch
    if word:
        words.append(word)
    return words

# Find vowels
def find_vowels(sentence):
    vowels = []
    for ch in sentence:
        if ch.lower() in 'aeiou':
            vowels.append(ch)
    return vowels

# Count repeating characters
def count_repeating_characters(sentence):
    char_count = {}
    for ch in sentence:
        if ch in char_count:
            char_count[ch] += 1
        else:
            char_count[ch] = 1
    repeating_chars = {ch: count for ch, count in char_count.items() if count > 1}
    return repeating_chars

print("Reversed Sentence:", reverse_sentence(sentence))
print("Indexes of Even Letters:", even_letter_indexes(sentence))
print("Indexes of Odd Letters:", odd_letter_indexes(sentence))
print("Words in Sentence:", split_words(sentence))
print("Vowels in Sentence:", find_vowels(sentence))
print("Repeating Characters Count:", count_repeating_characters(sentence))

sentence = input("Enter a sentence: ")
print("Input Sentence:", sentence)

# Replace 'a' with '*'
def replace_a_with_star(sentence):
    modified_sentence = ""
    for ch in sentence:
        if ch.lower() == 'a':
            modified_sentence += '*'
        else:
            modified_sentence += ch
    return modified_sentence
print("Modified Sentence:", replace_a_with_star(sentence))

Enter a sentence:  Walchand Institute of Technology, Solapur, Maharashtra

Input Sentence: Walchand Institute of Technology, Solapur, Maharashtra
Reversed Sentence: arthsarahaM ,rupaloS ,ygolonhceT fo etutitsnI dnahclaW
Indexes of Even Letters: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52]
Indexes of Odd Letters: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53]
Words in Sentence: ['Walchand', 'Institute', 'of', 'Technology,', 'Solapur,', 'Maharashtra']
Vowels in Sentence: ['a', 'a', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']
Repeating Characters Count: {'a': 7, 'l': 3, 'c': 2, 'h': 4, 'n': 3, ' ': 5, 's': 2, 't': 4, 'u': 2, 'e': 2, 'o': 4, ',': 2, 'r': 3}

Enter a sentence:  Walchand Institute of Technology, Solapur, Maharashtra

Input Sentence: Walchand Institute of Technology, Solapur, Maharashtra
Modified Sentence: W*lch*nd Institute of Technology, Sol*pur, M*h*r*shtr*

In [5]:
def swap_case(s):
    return s.swapcase()
input_string = input("Enter a string: ")
output_string = swap_case(input_string)
print("Converted string:", output_string)

Enter a string:  Walchand Institute of Technology, Solapur, Maharashtra

Converted string: wALCHAND iNSTITUTE OF tECHNOLOGY, sOLAPUR, mAHARASHTRA

In [9]:
def swap_case_manual(s):
    result = ""
    for char in s:
        if 'a' <= char <= 'z':  
            result += chr(ord(char) - 32)
        elif 'A' <= char <= 'Z':  
            result += chr(ord(char) + 32)
        else:
            result += char 
    return result
input_string = input("Enter a string: ")
output_string = swap_case_manual(input_string)
print("Converted string:", output_string)

Enter a string:  Walchand Institute of Technology, Solapur, Maharashtra

Converted string: wALCHAND iNSTITUTE OF tECHNOLOGY, sOLAPUR, mAHARASHTRA

In [13]:
def length(str):
    count=0;
    for i in str:
        count=count+1
    return count
str="Himanshi"
length(str)

8

In [17]:
def swap_case_manual(s):
    result = ""
    for char in s:
        if 'a' <= char <= 'z':  
            result += chr(ord(char) - 32)
        elif 'A' <= char <= 'Z':  
            result += chr(ord(char) + 32)
        else:
            result += char 
    return result
input_string = input("Enter a string: ")
output_string = swap_case_manual(input_string)
print("Converted string:", output_string)

Enter a string:  Walchand Institute of Technology, Solapur, Maharashtra, 413006

Converted string: wALCHAND iNSTITUTE OF tECHNOLOGY, sOLAPUR, mAHARASHTRA, 413006

In [5]:
x = 0
while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
else:
    print('\n All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

 All Done!

In [9]:
num = int(input("Enter a number: "))
original_num = num
sum_of_digits = 0
temp = num
digits = 0
while temp > 0:
    digits += 1
    temp //= 10
while num > 0:
    digit = num % 10 
    sum_of_digits += digit ** digits 
    num //= 10 
if sum_of_digits == original_num:
    print(original_num, "is an Armstrong number")
else:
    print(original_num, "is not an Armstrong number")

Enter a number:  153

153 is an Armstrong number

In [11]:
rows = 5
i = 1

while i <= rows:
    spaces = rows - i
    j = 0
    while j < spaces:
        print(" ", end="")
        j += 1
    
    k = 0
    while k < i:
        print("* ", end="")
        k += 1

    print()
    i += 1

    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
rows = 5
i = 1
num = 1

while i <= rows:
    spaces = rows - i
    j = 0
    while j < spaces:
        print(" ", end="")
        j += 1
    
    k = 0
    while k < i:
        print(num, end=" ")
        num += 1
        k += 1

    print()
    i += 1

    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

In [15]:
rows = 5
i = 1

while i <= rows:
    spaces = rows - i
    j = 0
    while j < spaces:
        print(" ", end="")
        j += 1
    
    k = 0
    while k < i:
        print(i, end=" ")
        k += 1

    print()
    i += 1

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [19]:
rows = 5
i = rows

while i >= 1:
    spaces = rows - i
    j = 0
    while j < spaces:
        print(" ", end="")
        j += 1
    
    k = i
    while k >= 1:
        print(k, end=" ")
        k -= 1

    print()
    i -= 1

5 4 3 2 1
 4 3 2 1
  3 2 1
   2 1
    1

In [25]:
#Inheritance
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Animal sound"

class Dog(Animal):
    def speak(self):
        return "Bark"

class Cat(Animal):
    def speak(self):
        return "Meow"

animals = [Dog("Buddy"), Cat("Whiskers")]
i = 0

while i < len(animals):
    print(animals[i].name, "says", animals[i].speak())
    i += 1

Buddy says Bark
Whiskers says Meow

In [29]:
#Prime number
num = int(input("Enter a number: "))

if num < 2:
    print(num, "is not a prime number")
else:
    i = 2
    is_prime = True

    while i * i <= num:
        if num % i == 0:
            is_prime = False
            break
        i += 1

    if is_prime:
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

Enter a number:  5

5 is a prime number

In [39]:
def fibonacci(n):
    a, b = 0, 1
    count = 0
    if n <= 0:
        print("Please enter a positive integer.")
        return
    print("Fibonacci Series:", end=" ")
    while True:
        print(a, end=" ")
        count += 1
        if count >= n:  
            break
        a, b = b, a + b 
num_terms = int(input("Enter the number of terms: "))
fibonacci(num_terms)

Enter the number of terms:  5

Fibonacci Series: 0 1 1 2 3

In [41]:
numbers = [5, 2, 9, 1, 5, 6]
n = len(numbers)
i = 0

while i < n - 1:
    j = 0
    while j < n - i - 1:
        if numbers[j] > numbers[j + 1]:
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]  # Swap
        j += 1
    i += 1

print("Sorted list:", numbers)

Sorted list: [1, 2, 5, 5, 6, 9]

In [43]:
numbers = [5, 2, 9, 1, 5, 6]
n = len(numbers)
i = 0
while i < n - 1:
    j = 0
    while j < n - i - 1:
        if numbers[j] < numbers[j + 1]:  
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]  
        j += 1
    i += 1
print("Sorted list (descending):", numbers)

Sorted list (descending): [9, 6, 5, 5, 2, 1]

In [45]:
def is_armstrong(num):
    order = len(str(num))  
    sum_of_digits = 0
    temp = num   
    while temp > 0:
        digit = temp % 10
        sum_of_digits += digit ** order
        temp //= 10
    return num == sum_of_digits  
num = int(input("Enter a number: "))
if is_armstrong(num):
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number:  5

5 is an Armstrong number

In [63]:
def is_prime(num):
    if num < 2:
        return False
    i = 2
    while i * i <= num:
        if num % i == 0:
            return False
        i += 1
    return True

num = int(input("Enter a number: "))

if is_prime(num):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number:  5

5 is a prime number

In [53]:
def fibonacci(n):
    a, b = 0, 1
    count = 0
    while count < n:
        print(a, end=" ")
        a, b = b, a + b
        count += 1
num = int(input("Enter the number of terms: "))
if num <= 0:
    print("Please enter a positive integer")
else:
    fibonacci(num)

Enter the number of terms:  7

0 1 1 2 3 5 8

In [55]:
def pattern1(rows):
    i = 1
    while i <= rows:
        print(" " * (rows - i) + "* " * i)
        i += 1

def pattern2(rows):
    i = 1
    num = 1
    while i <= rows:
        print(" " * (rows - i), end="")
        j = 1
        while j <= i:
            print(num, end=" ")
            num += 1
            j += 1
        print()
        i += 1

def pattern3(rows):
    i = 1
    while i <= rows:
        print(" " * (rows - i), end="")
        j = 1
        while j <= i:
            print(i, end=" ")
            j += 1
        print()
        i += 1

def pattern4(rows):
    i = rows
    while i >= 1:
        print(" " * (rows - i), end="")
        j = i
        while j >= 1:
            print(j, end=" ")
            j -= 1
        print()
        i -= 1

rows = 5
pattern1(rows)
print()
pattern2(rows)
print()
pattern3(rows)
print()
pattern4(rows)

    *
   * *
  * * *
 * * * *
* * * * *

    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

5 4 3 2 1
 4 3 2 1
  3 2 1
   2 1
    1

In [57]:
class Parent:
    def show(self):
        print("This is the Parent class.")

class Child(Parent):
    def display(self):
        print("This is the Child class.")

obj = Child()
obj.show()   
obj.display()

This is the Parent class.
This is the Child class.

In [59]:
def sort_ascending(lst):
    lst.sort()
    return lst

def sort_descending(lst):
    lst.sort(reverse=True)
    return lst

numbers = [5, 2, 9, 1, 6, 8]

print("Original List:", numbers)
print("Ascending Order:", sort_ascending(numbers[:]))  
print("Descending Order:", sort_descending(numbers[:]))

Original List: [5, 2, 9, 1, 6, 8]
Ascending Order: [1, 2, 5, 6, 8, 9]
Descending Order: [9, 8, 6, 5, 2, 1]

In [61]:
def reverse_sentence(s):
    return s[::-1]

def even_indexes(s):
    return [i for i in range(len(s)) if i % 2 == 0]

def odd_indexes(s):
    return [i for i in range(len(s)) if i % 2 != 0]

def split_words(s):
    return s.split()

def find_vowels(s):
    vowels = "aeiouAEIOU"
    return [char for char in s if char in vowels]

def count_repeating_chars(s):
    from collections import Counter
    freq = Counter(s)
    return {char: count for char, count in freq.items() if count > 1}

def replace_a(s):
    return s.replace('a', '*').replace('A', '*')

def swap_case(s):
    return s.swapcase()

def string_length(s):
    return len(s)

# Taking user input
a = input("Enter a sentence: ")

# Calling functions and displaying results
print("Reversed Sentence:", reverse_sentence(a))
print("Indexes of Even Letters:", even_indexes(a))
print("Indexes of Odd Letters:", odd_indexes(a))
print("Split Sentence into Words:", split_words(a))
print("Vowels in Sentence:", find_vowels(a))
print("Repeating Characters Count:", count_repeating_chars(a))
print("Replace 'a' with '*':", replace_a(a))
print("Swapped Characters (lower to upper, upper to lower):", swap_case(a))
print("Length of the String:", string_length(a))

Enter a sentence:  Walchand Institute of Technology, Solapur, Maharashtra, 413006

Reversed Sentence: 600314 ,arthsarahaM ,rupaloS ,ygolonhceT fo etutitsnI dnahclaW
Indexes of Even Letters: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]
Indexes of Odd Letters: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61]
Split Sentence into Words: ['Walchand', 'Institute', 'of', 'Technology,', 'Solapur,', 'Maharashtra,', '413006']
Vowels in Sentence: ['a', 'a', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']
Repeating Characters Count: {'a': 7, 'l': 3, 'c': 2, 'h': 4, 'n': 3, ' ': 6, 's': 2, 't': 4, 'u': 2, 'e': 2, 'o': 4, ',': 3, 'r': 3, '0': 2}
Replace 'a' with '*': W*lch*nd Institute of Technology, Sol*pur, M*h*r*shtr*, 413006
Swapped Characters (lower to upper, upper to lower): wALCHAND iNSTITUTE OF tECHNOLOGY, sOLAPUR, mAHARASHTRA, 413006
Length of the String: 62

In [21]:
class car:
    def __init__(self,modelname,year):
        self.modelname = modelname
        self.year = year
    def display(self):
        print(self.modelname, self.year)
c1 = car("Toyota",2016)
c1.display()

Toyota 2016

In [29]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def display_details(self):
        print(f"Vehicle Details: {self.year} {self.make} {self.model}")
    def update_year(self, new_year):
        self.year = new_year
        print(f"Manufacturing year updated to {self.year}")
car = Vehicle("Toyota", "Corolla", 2020)
car.display_details()
car.update_year(2023)
car.display_details()

Vehicle Details: 2020 Toyota Corolla
Manufacturing year updated to 2023
Vehicle Details: 2023 Toyota Corolla

In [33]:
class Library:
    def __init__(self):
        self.books = []
    def add_book(self, title):
        self.books.append(title)
        print(f'Book "{title}" added to the collection.')
    def remove_book(self, title):
        if title in self.books:
            self.books.remove(title)
            print(f'Book "{title}" removed from the collection.')
        else:
            print(f'Book "{title}" not found in the collection.')
    def list_books(self):
        if self.books:
            print("Current collection of books:")
            for book in self.books:
                print(f'- {book}')
        else:
            print("No books in the collection.")
library = Library()
library.add_book("1984")
library.add_book("To Kill a Mockingbird")
library.list_books()
library.remove_book("1984")
library.list_books()

Book "1984" added to the collection.
Book "To Kill a Mockingbird" added to the collection.
Current collection of books:
- 1984
- To Kill a Mockingbird
Book "1984" removed from the collection.
Current collection of books:
- To Kill a Mockingbird

In [35]:
lst = [1,2,3]

In [37]:
lst.count(2)

1

In [45]:
#Object
print(type(1))
print(type([]))
print(type(()))
print(type({}))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [51]:
#class
# Create a new object type called Sample
class Sample:
    pass
# Instance of Sample
x = Sample()
print(type(x))

<class '__main__.Sample'>

In [53]:
#attributes
class Dog:
    def __init__(self,breed):
        self.breed = breed
sam = Dog(breed='Lab')
frank = Dog(breed='Huskie')

In [55]:
# Python3 program to demonstrate defining a class, here we are creating an empty class
class Dog:
    pass

In [57]:
obj = Dog()
#Class methods must have an extra first parameter in the method definition. We do not give a value for this parameter when we call the method, Python provides it
#If we have a method that takes no arguments, then we still have to have one argument.

In [59]:
#Creating a class and object with class and instance attributes
class Dog:
	# class attribute
	attr1 = "mammal"
	# Instance attribute
	def __init__(self, name):
		self.name = name
# Driver code
# Object instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

# Accessing class attributes
print("Rodger is a {}".format(Rodger.__class__.attr1))
print("Tommy is also a {}".format(Tommy.__class__.attr1))

# Accessing instance attributes
print("My name is {}".format(Rodger.name))
print("My name is {}".format(Tommy.name))

Rodger is a mammal
Tommy is also a mammal
My name is Rodger
My name is Tommy

In [65]:
#example of a function
def say_hello():
    print('Hello Cutieee')
say_hello()

Hello Cutieee

In [67]:
def add_num(num1,num2):
    return num1+num2
add_num(2,6)

8

In [69]:
#Return all even numbers in a list
def check_even_list(num_list):
    even_numbers = []
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return even_numbers

In [71]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [75]:
import math

class Line:
    def __init__(self, coord1, coord2):
        self.x1, self.y1 = coord1
        self.x2, self.y2 = coord2

    def distance(self):
        return math.sqrt((self.x2 - self.x1) ** 2 + (self.y2 - self.y1) ** 2)

    def slope(self):
        if self.x2 - self.x1 == 0:
            return None 
        return (self.y2 - self.y1) / (self.x2 - self.x1)

line = Line((3, 2), (8, 10))
print("Distance:", line.distance())
print("Slope:", line.slope())

Distance: 9.433981132056603
Slope: 1.6

In [89]:
# Python code to demonstrate how parent constructors are called.

# parent class
class Person(object):

	# __init__ is known as the constructor
	def __init__(self, name, idnumber):
		self.name = name
		self.idnumber = idnumber

	def display(self):
		print(self.name)
		print(self.idnumber)
		
	def details(self):
		print("My name is {}".format(self.name))
		print("IdNumber: {}".format(self.idnumber))
	
# child class
class Employee(Person):
	def __init__(self, name, idnumber, salary, post):
		self.salary = salary
		self.post = post

		# invoking the __init__ of the parent class
		Person.__init__(self, name, idnumber)
		
	def details(self):
		print("My name is {}".format(self.name))
		print("IdNumber: {}".format(self.idnumber))
		print("Post: {}".format(self.post))
        
# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")
# calling a function of the class Person using
# its instance
a.display()
a.details()

Rahul
886012
My name is Rahul
IdNumber: 886012
Post: Intern

In [85]:
class Bird:
	def intro(self):
		print("There are many types of birds.")
	def flight(self):
		print("Most of the birds can fly but some cannot.")
class sparrow(Bird):
	def flight(self):
		print("Sparrows can fly.")
class ostrich(Bird):
	def flight(self):
		print("Ostriches cannot fly.")
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

obj_bird.intro()
obj_bird.flight()
obj_spr.intro()
obj_spr.flight()
obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [99]:
class Dad:
    def dad_method1(self):
        return "This is dad's first method."
    
    def dad_method2(self):
        return "This is dad's second method."

class Mom:
    def mom_method1(self):
        return "This is mom's first method."
    
    def mom_method2(self):
        return "This is mom's second method."

class Child(Dad, Mom):
    def child_method1(self):
        return "This is child's first method."
    
    def child_method2(self):
        return "This is child's second method."

child = Child()
print(child.dad_method1())
print(child.mom_method1())
print(child.child_method1())
print(child.child_method2())

This is dad's first method.
This is mom's first method.
This is child's first method.
This is child's second method.

In [101]:
class GrandChild(Child):
    def grandchild_method(self):
        return "This is grandchild's method."

grandchild = GrandChild()
print(grandchild.dad_method1())
print(grandchild.mom_method1())
print(grandchild.child_method1())
print(grandchild.grandchild_method())

This is dad's first method.
This is mom's first method.
This is child's first method.
This is grandchild's method.

In [107]:
class Play:
    def start_game(self):
        return "Football game has started."
    
    def score_goal(self):
        return "Goal scored! The crowd is Shouting with Happiness!"
    
    def end_game(self):
        return "Football game has ended."

play = Play()
print(play.start_game())
print(play.score_goal())
print(play.end_game())

Football game has started.
Goal scored! The crowd is Shouting with Happiness!
Football game has ended.

In [115]:
class Number:
    def __init__(self, value):
        self.value = value
    
    def is_palindrome(self):
        return str(self.value) == str(self.value)[::-1]
    
    def is_prime(self):
        if self.value < 2:
            return False
        for i in range(2, int(self.value ** 0.5) + 1):
            if self.value % i == 0:
                return False
        return True
    
    def is_armstrong(self):
        num_str = str(self.value)
        power = len(num_str)
        return self.value == sum(int(digit) ** power for digit in num_str)

special_no1 = Number(121)  # Palindrome
special_no2 = Number(7)    # Prime
special_no3 = Number(153)  # Armstrong

print("121 is Palindrome:", special_no1.is_palindrome())
print("7 is Prime:", special_no2.is_prime())
print("153 is Armstrong:", special_no3.is_armstrong())

121 is Palindrome: True
7 is Prime: True
153 is Armstrong: True

In [117]:
class Parent:
    def __init__(self, numbers):
        self.numbers = numbers

    def reverse_list(self):
        return self.numbers[::-1]
    
    def ascending_sort(self):
        return sorted(self.numbers)
    
    def descending_sort(self):
        return sorted(self.numbers, reverse=True)

class Sort1(Parent):
    def sort_operation(self):
        return self.reverse_list()

class Sort2(Parent):
    def sort_operation(self):
        return self.ascending_sort()

class Sort3(Parent):
    def sort_operation(self):
        return self.descending_sort()

numbers = [5, 2, 9, 1, 7]

obj1 = Sort1(numbers)
print("Reversed List:", obj1.sort_operation())

obj2 = Sort2(numbers)
print("Ascending Order:", obj2.sort_operation())

obj3 = Sort3(numbers)
print("Descending Order:", obj3.sort_operation())

Reversed List: [7, 1, 9, 2, 5]
Ascending Order: [1, 2, 5, 7, 9]
Descending Order: [9, 7, 5, 2, 1]

In [119]:
#Polymorphism
class Animal:
    def speak(self):
        return "Animal makes a sound"

class Dog(Animal):
    def speak(self):
        return "Dog barks"

class Cat(Animal):
    def speak(self):
        return "Cat meows"

def make_sound(animal):
    print(animal.speak())

animal1 = Dog()
animal2 = Cat()

make_sound(animal1)
make_sound(animal2)

Dog barks
Cat meows